/*$navbarColor:rgb(35, 133, 161);
body {
    .navbar {
        background: $navbarColor;
        .navbar-nav li a,
        .navbar-nav li a:hover {
            color: #fff;
        }
    }
}*/

body {
    .navbar {
        background: rgb(35, 133, 161);
        .navbar-brand>img {
            margin-top: -10px;
        }
        .nav li a {
            &:hover {
                color: #fff;
            }
            color: #fff;
        }
    }
    .navbar-default {
        background: rgb(35, 133, 161);
    }
}